{% assign content = content %}
{% assign alignment = alignment | default: 'text-center' %}

{% if content != blank %}
   <div class="flex flex-col gap-3 body {{ alignment }} prose">
      {{ content }}
   </div>
{% endif %}