<div class="vertical-spacing">
   <div class="container">
      <div class="grid grid-cols-1 lg:grid-cols-3 gap-8">
         <div class="col-span-1 bg-aqua h-40 rounded-xl"></div>
         <div class="col-span-1 bg-aqua h-40 rounded-xl"></div>
         <div class="col-span-1 bg-aqua h-40 rounded-xl"></div>
         <div class="col-span-1 bg-aqua h-40 rounded-xl"></div>
         <div class="col-span-1 bg-aqua h-40 rounded-xl"></div>
         <div class="col-span-1 bg-aqua h-40 rounded-xl"></div>
         <div class="col-span-1 bg-aqua h-40 rounded-xl"></div>
         <div class="col-span-1 bg-aqua h-40 rounded-xl"></div>
         <div class="col-span-1 bg-aqua h-40 rounded-xl"></div>
         <div class="col-span-1 bg-aqua h-40 rounded-xl"></div>
         <div class="col-span-1 bg-aqua h-40 rounded-xl"></div>
         <div class="col-span-1 bg-aqua h-40 rounded-xl"></div>
      </div>
   </div>
</div>

{% schema %}
{
   "name": "Collection Grid",
   "settings": [
      {
         "type": "header",
         "content": "Content"
      },
      {
         "type": "text",
         "id": "heading",
         "label": "Heading"
      }
   ],
   "blocks": [],
   "presets": [{
      "name": "Collection Grid",
      "blocks": []
   }]
}
{% endschema %}