<div class="vertical-spacing">
   <div class="container">
      {% render 'heading-and-text', heading: 'Typography', body: 'From headings and h1s to paragraph and legal text. Here are all the text styles that have been set up as out of the box.' %}
      <h1 class="heading-02">This is a large heading - heading-02</h1>
      <h2 class="heading">This is a heading - heading</h2>
      <h3 class="heading-04">This is a small heading - heading-04</h3>
      <h3 class="heading-05">This is a x-small heading - heading-05</h3>
      <h3 class="heading-06">This is a tiny heading - heading-06</h3>
      <h4 class="body-01">This is large body text - body-01</h4>
      <p class="body">This is body text - body</p>
      <p class="body-03">This is small body text - body-03</p>
      <p class="body-04">This is for very small body text - body-04</p>
   </div>
</div>