<div class="vertical-spacing">
   <div class="container-lg">
      {% render 'heading-and-text', heading: 'Container (Large)', body: 'Often used for components that need to break out of the standard container but still line up.' %}
      <div class="flex justify-between">
         <div class="bg-aqua text-white h-24 w-full">
            'container-lg'
         </div>
      </div>
   </div>
</div>