<div class="vertical-spacing">
   <div class="container-sm">
      {% render 'heading-and-text', heading: 'Container (Small)', body: 'With the majority of the site fitting into this spacing, make sure to use across the site.' %}
      <div class="flex justify-between">
         <div class="bg-aqua text-white h-24 w-full">
            'container-sm'
         </div>
      </div>
   </div>
</div>